body{

}


.content {
    color: white;
    font-size: 20px;
}
.content-header {
    font-family: 'Oleo Script', cursive;
    color: white;
    font-size: 30px;

}
.caption {
    color: #ffffff !important;
}
.form-col {
    margin-top: 20px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
